<h2>Contact</h2>
<div>
      <form accept-charset="UTF-8" class="contact-form" action="/contact" method="post"><input type="hidden" name="form_type" value="contact">
          <input type="hidden" value="✓" name="utf8">
        <div id="contactFormWrapper">
          <label class="hidden-label" for="contactFormName">Name</label>
          <input type="text" value="" autocapitalize="words" placeholder="Name" name="contact[name]" id="contactFormName">

          <label class="hidden-label" for="contactFormEmail">Email</label>
          <input type="email" value="" autocapitalize="off" autocorrect="off" placeholder="Email" name="contact[email]" id="contactFormEmail">

          <label class="hidden-label" for="contactFormPhone">Phone Number</label>
          <input type="tel" value="" placeholder="Phone Number" name="contact[phone]" id="contactFormPhone">

          <label class="hidden-label" for="contactFormMessage">Message</label>
          <textarea placeholder="Message" name="contact[body]" id="contactFormMessage" rows="10"></textarea>

          <input type="submit" value="Send" class="btn right">
        </div>

      </form>
    </div>

<style>
body, input, textarea, button, select {
    color: #585858;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
}
*, input, *::before, *::after {
    box-sizing: border-box;
}
*, input, *::before, *::after {
    box-sizing: border-box;
}
form {
    margin-bottom: 30px;
}
*, input, *::before, *::after {
    box-sizing: border-box;
}
.grid, .grid--rev, .grid--full, .grid-uniform {
    list-style: outside none none;
}

h2, .h2 {
    font-size: 1.333em;
}
h1, .h1, #shopify-product-reviews .spr-header-title, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    display: block;
    font-family: "Montserrat","HelveticaNeue","Helvetica Neue",sans-serif;
    font-weight: 700;
    line-height: 1.4;
    margin: 0 0 0.5em;
    text-transform: uppercase;
}


label[for] {
    cursor: pointer;
}
.form-horizontal label.hidden-label, label.hidden-label, .form-horizontal legend.hidden-label, legend.hidden-label {
    height: 0;
    margin-bottom: 0;
    overflow: hidden;
    width: 0;
}
label, legend {
    display: block;
    font-size: 14px;
    margin-bottom: 6px;
}
*, input, *::before, *::after {
    box-sizing: border-box;
}

input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="file"], input[type="number"], input[type="tel"], textarea, select {
    border: 1px solid #ececec;
    display: block;
    margin: 0 0 20px;
    max-width: 100%;
    width: 100%;
}
button, input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="file"], input[type="number"], input[type="tel"], input[type="submit"], textarea {
    -moz-appearance: none;
}
input {
    display: inline-block;
    width: auto;
}
input, select, textarea {
    background: transparent none repeat scroll 0 0;
    font-size: 1em;
    line-height: 1.42;
    padding: 8px 10px;
}
input, textarea, select, fieldset {
    border-radius: 2px;
    max-width: 100%;
}
body, input, textarea, button, select {
    color: #585858;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
}

.btn, .btn-secondary, input.btn-secondary, input[type="submit"], .header-cart-btn {
    -moz-appearance: none;
    -moz-user-select: none;
    background-color: #757876;
    border: 1px solid transparent;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Montserrat","HelveticaNeue","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42;
    margin: 0;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s ease-out 0s;
    vertical-align: middle;
    white-space: nowrap;
}


</style>