<div id="gallery">
    <img id="largeImage" src="http://www.workshop.rs/demo/gallery-in-4-lines/images/image_04_large.jpg">
</div>

<div id="thumbs">
    <img src="http://www.workshop.rs/demo/gallery-in-4-lines/images/image_01_thumb.jpg">
    <img src="http://www.workshop.rs/demo/gallery-in-4-lines/images/image_02_thumb.jpg">
    <img src="http://www.workshop.rs/demo/gallery-in-4-lines/images/image_03_thumb.jpg">
    <img src="http://www.workshop.rs/demo/gallery-in-4-lines/images/image_04_thumb.jpg">
    <img src="http://www.workshop.rs/demo/gallery-in-4-lines/images/image_05_thumb.jpg">
</div>
<style>
#gallery     {margin:0 auto; position:relative; width:601px}
#gallery img {margin:0 auto; display:block}

#thumbs      {overflow:hidden; width:524px; margin:30px auto 0}
#thumbs img  {float:left; margin:1px; cursor:pointer}
</style>

<script>
$('#thumbs').delegate('img', 'click', function() {

    $('#largeImage').attr('src', $(this).attr('src').replace('thumb', 'large'));
});

wlh = window.location.hash[1];
if (!isNaN(wlh)) {
    $('#largeImage').attr('src', $('#thumbs img').eq(wlh-1).attr('src').replace('thumb', 'large'));
}
</script>